body {
  font-family: 'Helvetica Black', 'Helvetica', sans-serif;
  font-size: 28px;
}

article {
  box-sizing: border-box;
  width: 600px;  
  border: 2px solid black;
  padding: 0px 7px;
}

h1 {
  font-size: 2em;
  font-family: 'Franklin Gothic Heavy', sans-serif;
  margin: 0;
  letter-spacing: -1px;
}

h2 {
  font-size: .9em;
  border-top: 30px black solid;
  border-bottom: 1px black solid;
  margin: 5px 0;
  padding: 10px 0 8px;
}

p {
  margin: 0;
}

dl {
  display: inline-block;
  width: 49%;
  margin: 0;
}

dd, dt {
  display: inline;
  margin: 0;
}

strong {
  font-weight: 900;
}

header dl:nth-of-type(2) {
  text-align: right;
}

header {
  border-bottom: 10px black solid;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  width: 50%;
  border-bottom: 1px black solid;
  padding: 5px 0 3px 0;
}

tr th:first-of-type {
  text-align: right;
  font-size: .9em;
}

tbody td:last-of-type {
  text-align: right;
}

td {
  border-bottom: 1px black solid;
  padding: 5px 0 3px 0;
}

td.indentation {
  border-bottom: 0;
  width: 1em;
}

tbody:nth-of-type(2) {
  border-top: 30px black solid;
}

tfoot tr td {
  text-align: justify;
  font-size: .8em;
  padding: 5px 10px;
  border-bottom: 0;
}

table:last-of-type {
  font-weight: normal;
  text-align: left;
  font-size: .8em;
}

table:last-of-type td.indentation {
  text-indent: 1.25em;
}

table:last-of-type tbody tr {
  padding-top: 5px;
}

table:last-of-type th {
  font-weight: normal;
  border-bottom: 1px black solid;
}

table:last-of-type th + th {
  width: 22%;
}

table:last-of-type tbody td { 
  padding: 0;
  border-bottom: 0;
  text-align: left;
  width: auto;
}

